<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prime Number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAB7783B1CD9A85900BBEC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB778521CD9A85A00BBEC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAB7785D1CD9A85A00BBEC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
